{% extends "base_admin.html" %}
{% load static %}
{% block content %}
  <div class="py-2" style="">
    <div class="container py-0 my-0">
      <div class="row my-0 py-0">
        <div class="col-md-12 my-0">
          <div class="row my-0">
            <div class="col-md-4"></div>
            <div class="col-md-4 text-center">
              <h1 class="" style="">Daftar Acara</h1>
            </div>
            <div class="col-md-4"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-0" style="">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive" style="">
            <table class="table table-bordered ">
              <thead class="thead-dark">
                <tr>
                  <th>No</th>
                  <th style="">Judul</th>
                  <th>Deskripsi</th>
                  <th>Tanggal mulai</th>
                  <th>Tanggal Akhir</th>
                  <th>Is free</th>
                  <th class="w-25">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr><th>1</th>
                  <td>Ulang Tahun Sharebike</td>
                  <td>Game-game</td>
                  <td>15 April 2019</td>
                  <td>15 April 2019</td>
                  <td>Ya</td>
                  <td style="" class="">
                    <div class="row" style="">
                      <div class="col-md-4"><a class="btn btn-primary" href="#">Update</a></div>
                      <div class="col-md-4"><a class="btn btn-secondary" href="#">Delete</a></div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th>2</th>
                  <td>Ulang Tahun Sharebike</td>
                  <td>Game-game</td>
                  <td>15 April 2019</td>
                  <td>15 April 2019</td>
                  <td>Ya</td>
                  <td style="" class="">
                    <div class="row" style="">
                      <div class="col-md-4"><a class="btn btn-primary" href="#">Update</a></div>
                      <div class="col-md-4"><a class="btn btn-secondary" href="#">Delete</a></div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th>3</th>
                  <td>blablalba</td>
                  <td>blablalblabla</td>
                  <td>15 Mei 2019</td>
                  <td>15 Mei 2019</td>
                  <td>Ya</td>
                  <td style="" class="">
                    <div class="row" style="">
                      <div class="col-md-4"><a class="btn btn-primary" href="#">Update</a></div>
                      <div class="col-md-4"><a class="btn btn-secondary" href="#">Delete</a></div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}