{% extends "base_admin.html" %}
{% load static %}
{% block content %}

<div class="text-center">
  <div class="py-3 text-center" style="background-image: linear-gradient(rgba(189, 195, 199, 0.75), rgba(44, 62, 80, 0.75)); background-size: 100%; background-position: left top; background-repeat: repeat;">
    <div class="container flex-column align-items-center justify-content-center">
      <div class="row" style="">
        <div class="mx-auto p-4 col-md-7" style="">
          <h1 class="mb-0" style="">Form Penambahan Acara</h1>
        </div>
      </div>
      <div class="row text-center align-items-center">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-2"></div>
            <div class="inline-block align-items-center col-md-8" style="">
              <div class="row">
                <div class="col-md-6"><label for="inputmailh" class="col-form-label col-lg-5 my-1 col-form-label-lg">Judul</label></div>
                <div class="col-md-6" style="">
                  <div class="form-group"><input type="text" class="form-control my-1" id="inputmailh" required="required"></div>
                </div>
              </div>
            </div>
            <div class="col-md-2"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8" style="">
              <div class="row">
                <div class="col-md-6">
                  <div class="col-md-12" style=""><label for="inputmailh" class="col-form-label my-1 col-form-label-lg col-lg-11">Deksripsi</label></div>
                </div>
                <div class="col-md-6">
                  <div class="form-group"><input type="text" class="form-control my-1" id="inputmailh" required="required"></div>
                </div>
              </div>
            </div>
            <div class="col-md-2" style=""></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4" style="">
              <div class="row">
                <div class="col-md-6">
                  <div class="col-md-12" style=""><label for="inputmailh" class="col-form-label my-1 col-form-label-lg col-lg-11">Gratis?</label></div>
                </div>
                <div class="col-md-6">
                  <div class="btn-group m-2" style="">
                    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> Dropdown </button>
                    <div class="dropdown-menu">
                      <div class="dropdown-divider"></div>
                      <span class="dropdown-item-text">Ya</span><a class="dropdown-item" href="#">Tidak</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4"></div>
          </div>
        </div>
      </div>
      <div class="row" style="">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4" style="">
              <div class="row">
                <div class="col-md-6">
                  <div class="col-md-12" style=""><label for="inputmailh" class="col-form-label my-1 col-form-label-lg col-lg-12">Tanggal Mulai</label></div>
                </div>
                <div class="col-md-6">
                  <div class="form-group"><input type="text" class="form-control my-3" id="inputmailh" required="required"></div>
                </div>
              </div>
            </div>
            <div class="col-md-4"></div>
          </div>
        </div>
      </div>
      <div class="row" style="">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4" style="">
              <div class="row">
                <div class="col-md-6">
                  <div class="col-md-12" style=""><label for="inputmailh" class="col-form-label my-1 col-form-label-lg col-lg-12">Tanggal Selesai</label></div>
                </div>
                <div class="col-md-6">
                  <div class="form-group"><input type="text" class="form-control my-3" id="inputmailh" required="required"></div>
                </div>
              </div>
            </div>
            <div class="col-md-4"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4" style="">
              <div class="row">
                <div class="col-md-6">
                  <div class="col-md-12" style=""><label for="inputmailh" class="col-form-label my-1 col-form-label-lg col-lg-11">Stasiun</label></div>
                </div>
                <div class="col-md-6">
                  <div class="btn-group m-2" style="">
                    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> Dropdown </button>
                    <div class="dropdown-menu">
                      <div class="dropdown-divider"></div>
                      <span class="dropdown-item-text">Ya</span><a class="dropdown-item" href="#">Tidak</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}