{% extends "base_admin.html" %}
{% load static %}
{% block content %}
  <div class="py-2" style="">
    <div class="container py-0 my-0">
      <div class="row my-0 py-0">
        <div class="col-md-12 my-0">
          <div class="row my-0">
            <div class="col-md-4"></div>
            <div class="col-md-4 text-center">
              <h1 class="" style="">Daftar Laporan</h1>
            </div>
            <div class="col-md-4"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-0" style="">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive" style="">
            <table class="table table-bordered ">
              <thead class="thead-dark">
                <tr>
                  <th>No</th>
                  <th style="">id laporan</th>
                  <th>Tanggal pinjam</th>
                  <th>anggota</th>
                  <th>denda</th>
                  <th class="w-25">Stasiun</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>1</th>
                  <td>11111111</td>
                  <td>15 April 2019</td>
                  <td>15 Mei 2019</td>
                  <td>112 - Stasiun</td>
                  <td>112 - Stasiun</td>
                </tr>
                <tr>
                  <th>2</th>
                  <td>Sukimin</td>
                  <td>Thornton</td>
                  <td>Thornton</td>
                  <td>Basdat Depok 1</td>
                  <td>Basdat Depok 1</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}