{% extends "base_admin.html" %}
{% load static %}
{% block content %}
  <div class="py-2" style="">
    <div class="container py-0 my-0">
      <div class="row my-0 py-0">
        <div class="col-md-12 my-0">
          <div class="row my-0">
            <div class="col-md-4"></div>
            <div class="col-md-4 text-center">
              <h1 class="" style="">Riwayat transaksi</h1>
            </div>
            <div class="col-md-4"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-0" style="">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive" style="">
            <table class="table table-bordered ">
              <thead class="thead-dark">
                <tr>
                  <th>No</th>
                  <th style="">Tanggal</th>
                  <th>Jenis Transaksi</th>
                  <th>Nominal</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>1</th>
                  <td>11111111</td>
                  <td>15 April 2019</td>
                  <td>15 Mei 2019</td>
                  </td>
                </tr>
                <tr>
                  <th>2</th>
                  <td>Sukimin</td>
                  <td>Thornton</td>
                  <td>Thornton</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}