{% extends "base_admin.html" %}
{% load static %}
{% block content %}

  <div class="py-5 text-center" style="background-image: url('https://static.pingendo.com/cover-bubble-dark.svg');background-size:cover;">
    <div class="container">
      <div class="row">
        <div class="bg-white p-5 mx-auto col-md-8 col-10">
          <h3 class="display-3">Voucher Berhasil Diupdate!</h3>
          <a class="btn btn-outline-primary" href="#">Kembali ke Halaman Daftar Voucher</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}