{% extends "base_admin.html" %}
{% load static %}
{% block content %}

<div class="text-center">
  <div class="py-3 text-center" style="background-image: linear-gradient(rgba(189, 195, 199, 0.75), rgba(44, 62, 80, 0.75)); background-size: 100%; background-position: left top; background-repeat: repeat;">
    <div class="container flex-column align-items-center justify-content-center">
      <div class="card-body p-4" style="background-color:white">
      <div class="row" style="">
        <div class="mx-auto p-4 col-md-7" style="">
          <h1 class="mb-0" style=""><u>Form Update Voucher</u></h1>
        </div>
      </div>
      <div class="row text-center align-items-center">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-2"></div>
            <div class="inline-block align-items-center col-md-8" style="">
              <div class="row">
                <div class="col-md-6"><label for="inputmailh" class="col-form-label col-lg-5 my-1 col-form-label-lg">Nama</label></div>
                <div class="col-md-6" style="">
                  <div class="form-group"><input type="text" class="form-control my-1" id="inputmailh" required="required" placeholder="Apa nama vouchernya?"></div>
                </div>
              </div>
            </div>
            <div class="col-md-2"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8" style="">
              <div class="row">
                <div class="col-md-6">
                  <div class="col-md-12" style=""><label for="inputmailh" class="col-form-label my-1 col-form-label-lg col-lg-11">Kategori</label></div>
                </div>
                <div class="col-md-6">
                  <div class="form-group"><input type="text" class="form-control my-1" id="inputmailh" required="required" placeholder="Kategorinya apa?"></div>
                </div>
              </div>
            </div>
            <div class="col-md-2" style=""></div>
          </div>
        </div>
      </div>
      <div class="row text-center align-items-center">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-2"></div>
            <div class="inline-block align-items-center col-md-8" style="">
              <div class="row">
                <div class="col-md-6"><label for="inputmailh" class="col-form-label col-lg-5 my-1 col-form-label-lg">Nilai Poin</label></div>
                <div class="col-md-6" style="">
                  <div class="form-group"><input type="text" class="form-control my-1" id="inputmailh" required="required" placeholder="Berapa nilai poinnya?"></div>
                </div>
              </div>
            </div>
            <div class="col-md-2"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8" style="">
              <div class="row">
                <div class="col-md-6">
                  <div class="col-md-12" style=""><label for="inputmailh" class="col-form-label my-1 col-form-label-lg col-lg-11">Deksripsi</label></div>
                </div>
                <div class="col-md-6">
                  <div class="form-group"><textarea class="form-control" id="form43" rows="3" placeholder="Jelaskan voucher secara singkat!"></textarea> </div>
                </div>
              </div>
            </div>
            <div class="col-md-2" style=""></div>
          </div>
        </div>
      </div>
      <div class="row text-center align-items-center">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-2"></div>
            <div class="inline-block align-items-center col-md-8" style="">
              <div class="row">
                <div class="col-md-6"><label for="inputmailh" class="col-form-label col-lg-5 my-1 col-form-label-lg">Jumlah</label></div>
                <div class="col-md-6" style="">
                  <div class="form-group"><input type="text" class="form-control my-1" id="inputmailh" required="required" placeholder="Berapa jumlah voucher yang ingin dibuat?"></div>
                </div>
              </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-2"></div>
                <div class="inline-block align-items-center col-md-8" style="">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="col-md-12"><label for="inputmailh" class="col-form-label col-lg-5 my-1 col-form-label-lg" contenteditable="true"></label></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-2"></div>
              </div>
              <div class="row text-center align-items-center">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-2"></div>
                    <div class="inline-block align-items-center col-md-8" style="">
                      <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4"><button type="submit" class="btn btn-outline-primary btn-block" style="background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)); background-position: left top; background-size: 100%; background-repeat: repeat;">Update</button></div>
                        <div class="col-md-4" style="">
                          <div class="form-group"></div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-2"> </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row text-center align-items-center">
            </div>
          </div>
        </div>
        <div class="row text-center align-items-center">
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

{% endblock %}