{% extends "base_anggota.html" %}
{% load static %}
{% block content %}

  <div class="py-3 text-center" style="background-image: linear-gradient(rgba(189, 195, 199, 0.75), rgba(44, 62, 80, 0.75)); background-size: 100%; background-position: left top; background-repeat: repeat;">
    <div class="container flex-column align-items-center justify-content-center">
      <div class="card-body p-4" style="background-color:white">
        <div class="py-2" style="">
          <div class="container py-0 my-0">
            <div class="row my-0 py-0">
              <div class="col-md-12 my-0">
                <div class="row my-0">
                  <div class="col-md-12 text-center">
                    <h1 class="" style=""><u>Daftar Peminjaman</u></h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="py-0" style="">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="table-responsive" style="">
                  <div class="col-md-12" style="">
                    <div class="row">
                      <div class="col-md-4">
                        <form class="form-inline d-flex justify-content-center">
                          <div class="input-group"> <input type="email" class="form-control" placeholder="Filtering" id="form6">
                            <div class="input-group-append"> <button class="btn btn-primary" type="button" contenteditable="true">Search</button> </div>
                          </div>
                        </form>
                      </div>
                      <div class="col-md-4"></div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-4"></div>
                          <div class="col-md-4"><a class="btn btn-primary" href="#">Z to A</a></div>
                          <div class="col-md-4"><a class="btn btn-primary" href="#" contenteditable="true">A to Z</a></div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row py-2
"></div>
                      </div>
                      <div class="col-md-4"></div>
                      <div class="col-md-4"></div>
                    </div>
                  </div>
                  <table class="table table-bordered ">
                    <thead class="thead-dark">
                      <tr>
                        <th>No. Kartu Anggota</th>
                        <th style="">Sepeda</th>
                        <th>Stasiun</th>
                        <th>Waktu Kembali</th>
                        <th style="">Biaya</th>
                        <th style="">Denda</th>
                        <th class="w-25">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th>13u78q</th>
                        <td>11244 - BMX</td>
                        <td>637 - Stasiun X</td>
                        <td>12/03/2019</td>
                        <td>-</td>
                        <td>-</td>
                        <td style="" class="">
                          <div class="row">
                            <div class="col-md-12"><a class="btn btn-primary" href="#">Kembalikan</a></div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <th>95675s</th>
                        <td>11245 - Old bike</td>
                        <td>638 - Stasiun balapan</td>
                        <td>11/02/2019</td>
                        <td>10,000</td>
                        <td>5,000</td>
                        <td>Sudah Dikembalikan<div class="row">
                            <div class="col-md-12">
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">12345d</th>
                        <td>11246 - BMY</td>
                        <td>639 - Stasiun enak bang tutut</td>
                        <td>21/03/2019</td>
                        <td>-</td>
                        <td>-</td>
                        <td>
                          <div class="row">
                            <div class="col-md-12"><a class="btn btn-primary" href="#">Kembalikan</a></div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="col-md-4">
                <div class="row">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-6"></div>
                      <div class="col-md-6"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4"></div>
              <div class="col-md-4"></div>
              <div class="col-md-4">
                <div class="row">
                  <div class="col-md-12">
                  </div>
                </div>
              </div>
              <div class="col-md-4"></div>
              <div class="col-md-4">
                <ul class="pagination">
                  <li class="page-item"> <a class="page-link" href="#"> <span>«</span></a> </li>
                  <li class="page-item active"> <a class="page-link" href="#">1</a> </li>
                  <li class="page-item"> <a class="page-link" href="#">2</a> </li>
                  <li class="page-item"> <a class="page-link" href="#">3</a> </li>
                  <li class="page-item"> <a class="page-link" href="#">4</a> </li>
                  <li class="page-item"> <a class="page-link" href="#">5</a> </li>
                  <li class="page-item"> <a class="page-link" href="#">6</a> </li>
                  <li class="page-item"> <a class="page-link" href="#">7</a> </li>
                  <li class="page-item"> <a class="page-link" href="#"> <span>»</span></a> </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}