{% extends "base_anggota.html" %}
{% load static %}
{% block content %}

<div class="text-center">
    <div class="py-3 text-center" style="background-image: linear-gradient(rgba(189, 195, 199, 0.75), rgba(44, 62, 80, 0.75)); background-size: 100%; background-position: left top; background-repeat: repeat;">
        <div class="container flex-column align-items-center justify-content-center">
          <div class="card-body p-4" style="background-color:white">
            <div class="row" style="">
              <div class="mx-auto p-4 col-md-7" style="">
                <h1 class="mb-0" style=""><u>Form Buat Peminjaman Baru</u></h1>
              </div>
            </div>
            <div class="row text-center align-items-center">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-2"></div>
                  <div class="inline-block align-items-center col-md-8" style="">
                    <div class="row">
                      <div class="col-md-6"><label for="inputmailh" class="col-form-label col-lg-5 my-1 col-form-label-lg" contenteditable="true"></label></div>
                      <div class="col-md-6" style="">
                        <label for="inputmailh" class="col-form-label col-lg-5 my-1 col-form-label-lg" contenteditable="true"></label>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2"></div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-2"></div>
                  <div class="col-md-8" style="">
                    <div class="row">
                      <div class="col-md-4">
                        <label for="inputmailh" class="col-form-label my-1 col-form-label-lg col-lg-11">Sepeda Stasiun</label>
                      </div>
                      <div class="col-md-4">
                        <div class="btn-group">
                          <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> Pilih Sepeda Favoritmu!</button>
                          <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);"> <a class="dropdown-item" href="#">BMX</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Sepeda Gunung</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4"></div>
                    </div>
                  </div>
                  <div class="col-md-2" style=""></div>
                </div>
              </div>
            </div>
            <div class="row text-center align-items-center">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-2"></div>
                  <div class="inline-block align-items-center col-md-8" style="">
                    <div class="row">
                      <div class="col-md-6"><label for="inputmailh" class="col-form-label col-lg-5 my-1 col-form-label-lg" contenteditable="true"></label></div>
                      <div class="col-md-6" style="">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row text-center align-items-center">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-2"></div>
                      <div class="inline-block align-items-center col-md-8" style="">
                        <div class="row">
                          <div class="col-md-12"><label for="inputmailh" class="col-form-label col-lg-5 my-1 col-form-label-lg" contenteditable="true"></label></div>
                        </div>
                      </div>
                      <div class="col-md-2"></div>
                    </div>
                    <div class="row text-center align-items-center">
                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-md-2"></div>
                          <div class="inline-block align-items-center col-md-8" style="">
                            <div class="row">
                              <div class="col-md-4"></div>
                              <div class="col-md-4"><button type="submit" class="btn btn-outline-primary btn-block" style="background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)); background-position: left top; background-size: 100%; background-repeat: repeat;">Submit</button></div>
                              <div class="col-md-4" style="">
                                <div class="form-group"></div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-2"> </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row text-center align-items-center">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>

{% endblock %}