{% extends "base_admin.html" %}
{% load static %}
{% block content %}

<div style="	background-image: linear-gradient(to bottom, rgba(100,1), rgba(0,0,0,0.8));	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
  <div class="py-3 text-center" style="background-image: linear-gradient(to left bottom, rgba(189, 195, 199, 0.75), rgba(44, 62, 80, 0.75)); background-size: 100%;">
    <div class="container">
      <div class="row" style="">
        <div class="mx-auto p-4 col-md-7" style="">
          <h1 class="mb-4">Form Penambahan Penugasan</h1>
          <form class="align-items-center">
            <div class="form-group"><label style="" class="col-sm-2 col-form-label text-center">Petugas</label>
              <div class="btn-group">
                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> Dropdown </button>
                <div class="dropdown-menu"> <a class="dropdown-item" href="#">Action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Separated link</a>
                </div>
              </div>
            </div>
            <div class="form-group"><label style="" class="col-sm-2 col-form-label text-center">Tanggal Mulai</label><textarea class="form-control-sm" id="exampleTextarea" rows="3"></textarea></div>
            <div class="form-group"><label style="" class="col-sm-2 col-form-label text-center">Tanggal Selesai</label><textarea class="form-control-sm" id="exampleTextarea" rows="3"></textarea></div>
            <div class="form-group"><label style="" class="col-sm-2 col-form-label text-center">Petugas</label>
              <div class="btn-group">
                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> Dropdown </button>
                <div class="dropdown-menu"> <a class="dropdown-item" href="#">Action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Separated link</a>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-outline-primary btn-block" style="	background-image: linear-gradient(to bottom, rgba(0, 0, 0), rgba(0, 0, 0));	background-position: top left;	background-size: 100%;	background-repeat: repeat;">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}