{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'css/tambahacara.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
</head>

<body>

  <!-- navbar role Petugas -->
  <nav class="navbar navbar-expand-md navbar-light" style=""><a class="navbar-brand text-primary" href="#">
      <i class="fa d-inline fa-lg fa-stop-circle"></i>
      <b> Bike Sharing</b>
    </a>
    <div class="container"> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar4">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar4">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"> <a class="nav-link" href="#">Daftar Penugasan</a> </li>
          <li class="nav-item" style=""> <a class="nav-link" href="#">Daftar Stasiun</a> </li>
          <li class="nav-item" style=""> <a class="nav-link" href="#">Daftar Sepeda</a> </li>
          <li class="nav-item" style=""> <a class="nav-link" href="#">Daftar Acara</a> </li>
          <li class="nav-item" style=""> <a class="nav-link" href="#">Daftar Laporan</a> </li>
          <li class="nav-item" style=""> <a class="nav-link" href="#">Daftar Peminjaman</a> </li>
          <li class="nav-item" style=""> <a class="nav-link" href="#">Daftar Voucher</a> </li>
        </ul> <a class="btn navbar-btn ml-md-2 btn-light">Logout</a>
      </div>
    </div>
  </nav>

  {% block content %}
  {% endblock %}

  <!-- FOOTER -->
  <footer>
    <div class="">
      <div class="container">
        <div class="row">
          <div class="p-4 col-md-4">
            <h2 class="mb-4"><i class="fa fa-user fa-fw"></i>Bike Sharing</h2>
            <p>Website ini dibuat untuk pengerjaan&nbsp;<br>Tugas Kelompok mata kuliah&nbsp;<br>Basis Data Fasilkom UI 2019.</p>
          </div>
          <div class="p-4 col-md-4">
            <h2 class="mb-4">Tugas Kelompok</h2>
            <p>Bike-Sharing<br>Kelompok 7<br>Basis Data - D<br><a href="https://gitlab.com/kel7-basdat/bike-sharing.git">Link Gitlab</a></p>
          </div>
          <div class="p-4 col-md-4">
            <h2 class="mb-4">Developers</h2>
            <ul class="list-unstyled" contenteditable="true">Arif Teguh Wangi&nbsp;(1706040012)<br>Aulia Rosyida (1706025346)<br>Devin Winardi ((1706039755)<br>Satrio Raffani (1706043494)</ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mt-3">
            <p class="text-center">Made with smile by Kelompok 7 Basdat - D</p>
          </div>
        </div>
      </div>
    </div>
  </footer>

</body>

</html>