body, html {
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #eeeeee;
    max-height: calc(100vh - 100vh);
}

.navbar {
    flex: 0 0 auto;
    background-color: #1A1A1A !important;
}

.navbar .navbar-nav li a {
    color: #ffffff !important;
}

.navbar .navbar-nav li a:hover {
    color: #F56462 !important;
}

.navbar-toggler {
    background-color: #ffffff !important;
}

#myFooter {
    background-color: #1A1A1A;
    color: white;
    padding-top: 40px;
}

#myFooter .row {
    margin-bottom: 60px;
}

#myFooter .navbar-brand {
    margin-top: 45px;
    height: 65px;
}

/* #myFooter .footer-copyright p {
    margin: 10px;
    color: #ccc;
} */

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 2.2;
}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter h2 a{
    font-size: 50px;
    text-align: center;
    color: #fff;
}

#myFooter a {
    color: white;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: #F56462;
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
}

/* CSS used for positioning the footers at the bottom of the page. */
/* You can remove this. */

body{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
}

.content{
   flex: 1 0 auto;
   -webkit-flex: 1 0 auto;
   min-height: 200px;
}

#myFooter{
   flex: 0 0 auto;
   -webkit-flex: 0 0 auto;
}

.masthead{
    flex: 0 0 auto;
    position:relative;
    width:100%;
    height:auto;
    min-height:35rem;
    padding:17.4rem 0;
    background:linear-gradient(to bottom,rgba(22, 22, 22, 0.836) 0,rgba(22, 22, 22, 0.836) 75%,#1a1a1a 100%),url(../img/bg.jpeg);
    background-position:center;
    background-repeat:no-repeat;
    background-attachment:scroll;
    background-size:cover;
}
     
.masthead h1{
    font-size:4rem;
    line-height:4rem;
    letter-spacing:.1rem;
    -webkit-background-clip:text;
}
    
.masthead h2{
    max-width:20rem;
    font-size:1.1rem;
}

@media (min-width:768px){
    .masthead h1{
        font-size:4rem;
        line-height:3rem;
    }
}

@media (min-width:992px){
    .masthead{
        height:92vh;
    }   
    .masthead h1{
        font-size:4rem;
        line-height:3rem;
    }
    .masthead h2{
        max-width:30rem;
        font-size:1.25rem;
    }
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-light {
    font-size: 17px !important;
    background: #ffffff !important;
    color: #F56462 !important;
    padding: 17px 60px !important;
    border: 0 none;
    font-weight: 700;   
}

.btn-light:hover, .btn-light:focus, .btn-light:active, .btn-light.active, .open > .dropdown-toggle.btn-light {
    background: #F56462 !important;
    color: #ffffff !important;
}

.btn-light:active, .btn-light.active {
    background: #ffffff;
    box-shadow: none;
}

.round {
    border-radius: 50px !important;
}

.about-section{
    padding-top:7rem;
}

.hover08 figure img {
    width:85%;
    padding-top: 1rem;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover08 figure:hover img {
	-webkit-filter: grayscale(0);
    filter: grayscale(0);
}

.textoverimg {
    position: relative;
    font-size:2rem;
    text-align: center;
    color: white;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.textoverimg:hover{
    color: #1a1a1a;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.siap{
    padding-top:5rem;
}

.btn-dark {
    background: #1a1a1a !important;
    color: #A9E190 !important;
    border: 0 none;
    font-weight: 700;   
}

.btn-dark:hover, .btn-dark:focus, .btn-dark:active, .btn-dark.active, .open > .dropdown-toggle.btn-dark {
    background: #A9E190 !important;
    color: #1a1a1a !important;
}

.btn-dark:active, .btn-dark.active {
    background: #1a1a1a;
    box-shadow: none;
}

.content {
    padding: 3rem;
}

.roundedrec {
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 0.1px rgba(116, 116, 116, 0.1);
    margin-top:17px;
    margin-bottom:17px;
    
}

.donasiimg {
    border-radius: 10px 10px 0px 0px;
}

.insiderec {
    padding: 30px;
}

.judul {
    color: #999999;
    text-align: left;
    padding-bottom: 5px;
}

.isi{
    color: #1a1a1a;
    font-size: 16px;
    padding-top: 5px; 
    padding-bottom: 5px; 
}

.icon {
    font-size: 14px;
    color: #999999;
    text-align: left;
    margin-top: -7px;
}

.center {
    text-align: center;
}

input[type=text], input[type=email], input[type=date], input[type=password], input[type=number] {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=checkbox] {
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    margin-left: 7px;
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=submit] {
    background-color: #1a1a1a;
    color: #A9E190;
    border: 1px solid #1a1a1a;
    margin-top: 13px; 
    padding: 12px 25px;
    border-radius: 4px;
    cursor: pointer;
    padding: 17px 85px;
    margin-top: 2rem;
}

input[type=submit]:hover {
    background-color: #A9E190;
    color: #1a1a1a;
    border: 1px solid #1a1a1a;
}

.kembali a:active {
    text-decoration: underline;
}